@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
html {
  font-size: 12px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family:
    "Open Sans", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
    background-color: #946f11;
}
h1 {
  font-size: 60px;
  font-family: 'Creepster', cursive;
  color: #d88a13;
  text-align: center;
  text-shadow: 2px 2px 1px #562500;
}
h2 {
  font-size: 24px;
  color: #d88a13;
  text-align: center;
  text-shadow: 2px 2px 1px #562500;
  margin-top: auto;
}
p {
  font-size: 14px;
  line-height: 1.6;
  color: #784600;
    text-align: left;
    margin:3px
}
li {
  font-size: 17px;
  line-height: 1.4;
  color: #d88a13;
    text-align: left;
    margin: 4px;
    text-shadow: 0px 1px 1px #784600;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffe7c5;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
a:hover {
  color: #02a2ff;
  text-shadow: #ffffff 1px 1px 2px;
  
}