@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

main, img{
    width: 400px;
    display: block;
    margin-left:  auto;
    margin-right: auto;
}
html {
  font-size: 12px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family:
    "Open Sans", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
}
h1 {
  font-size: 60px;
  font-family: 'Creepster', cursive;
  color: #ffffff;
  text-align: center;
  text-shadow: 2px 2px 1px #562500;
}
h2 {
  font-size: 24px;
  color: #f8f8f8;
  text-align: center;
  text-shadow: 2px 2px 1px #000000;
  margin-top: auto;
}
p {
  font-size: 14px;
  line-height: 1.6;
  color: #ffffff;
    text-align: left;
    margin:3px
}
li {
  font-size: 30px;
  line-height: 1.4;
  color: #ffc75e;
    text-align: left;
    margin: 0px;
     text-shadow: 0px 1px 1px #784600;
}



a:hover {
  color: #02a2ff;
  text-shadow: #ffffff 1px 1px 2px;
  
}
div.corpo {
 background: url(../imagens/fundo.png);
 background-repeat: no-repeat center center fixed;
 background-size: cover;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}